{% load static%}
<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <style>
    </style>
</head>
<body>
<center><h4 class="black-text">Sign Up</h4></center>
<div class="row">
<form class="col s6" action="/accounts/signup/" method="post">
    {% csrf_token %}
    {% for each in form %}
    <div class="each">
      <label for="{{ each.id_for_label}}" class="label">{{ each.html_name }}</label>
      {{each}}
    </div>
    {% endfor %}
    <button class="btn blue darken-2" type="submit">SignUp</button>

</form>
</div>
</body>
</html>
