{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>Learning Materialize</title>
    <style>
    .logout-link{
      position: relative;

    }
    .smalltips{
      font-size:12px;
      color:blue;
    }
    </style>
</head>
<body>
  <nav class="nav-wraper blue">
    <div class="container">
      <a href="#" class="brand-logo">ArticlesWrap</a>
      <a href="#" class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons">sort</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}">SignUp</a></li>
      </ul>
    </div>

  </nav>
  <ul class="sidenav" id="mobile-links">
    <li><a href="#">Home</a></li>
    <li><a href="{% url 'accounts:login' %}">Login</a></li>
    <li><a href="{% url 'accounts:signup' %}">SignUp</a></li>
  </ul>
<center><h1 class="">Popping up the article list</h1></center>
                <form class="logout-link" method="post" action="/accounts/login/">
                    {%csrf_token%}

                        <button class="btn blue darken-2" type="submit">Logout</button>
        </form>
<center>
  <table class="highlight centered">
    <thead>
      <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
      </tr>
    </thead>
{%for article in articles%}
        <tbody>
          <tr>
            <td><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></td>
            <td>{{article.snippet}}</td>
            <td><span class="smalltips">{{article.date}}</span></td>
          </tr>
        </tbody>
        {%endfor%}
      </table>
    </center>




  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
  $('.sidenav').sidenav();
})
</script>
</body>
</html>
